<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register form</title>
    <style>
        .login-form {
            width: 400px;
            height: 400px;
            margin: 1rem auto;
        }

        .input-group {
            width: 100%;
        }

        .input-group label {
            display: block;
        }

        .input-group input {
            width: 100%;
        }

        button {
            padding: 10px 17px;
            margin-top: 1rem;
            font-size: 1rem;
            background: #eee;
            border: 1px solid #333;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="login-form">
    <% if(err) { %>
        <p style="color: red;"><%= err %></p>
    <% } %>
    <h3>Register Page</h3>
    <form action="/register" method="POST">
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" name="username" />
        </div>
        <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" name="email" />
        </div>
        <div class="input-group">
            <label for="phone">Phone:</label>
            <input type="number" name="phone" />
        </div>
        <div class="input-group">
            <label for="city">City:</label>
            <input type="text" name="city" />
        </div>
        <div class="input-group">
            <label for="postIndex">Post Index:</label>
            <input type="number" name="postIndex" />
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" name="password" />
        </div>
        <button>Register</button>
    </form>
    <p>Have an account?</p>
    <a href="/login">Login</a>
</div>
<div class="col-sm-4">
    <div class="card social-block">
        <div class="card-body">
            <a class="btn btn-block" href="/auth/google" role="button">
                <i class="fab fa-google"></i>
                Sign Up with Google
            </a>
        </div>
    </div>
</div>
</body>
</html>
